//this file is only for testing out the script
@import 'main';
//global scss
h1{
    color:olive;
    font:bold 40px sans-serif;
    background:rgba(olive,.2);
    padding:3rem;
    text-transform:uppercase;
}
p{
    margin:0 2rem;
    color:darken($white,90%);
}
